<div class="row">
	<div class="col-md-12">
		<div ng-show="mensagem.length" class="alert alert-info">{{mensagem}}</div>
	</div>
</div>
<div class="row">
    <div class="col-md-12">
        <form>
            <div class="input-group">
                <span class="input-group-btn">
                    <a href="framework/adicionar" class="btn btn-primary">Novo Framework</a>
                </span>
                <input ng-model="filtro"  class="form-control"  placeholder="Filtrar">
            </div>
        </form>
    </div>
</div>
<div ng-controller="FrameworksController" class="row">
    <meu-painel class="col-md-2 painel-animado" ng-repeat="framework in frameworks | filter: filtro" nome="{{framework.nome}}">
        <img class="img-responsive center-block" src="{{framework.foto}}" alt="{{framework.nome}}"/>
        <a href="{{framework.site}}">{{framework.site}}</a>
        <a href="framework/atualizar/{{framework._id}}" class="btn btn-primary btn-block">Editar</a>
        <meu-botao-perigo nome="Remover" acao="remover(foto)"></meu-botao-perigo>
    </meu-painel> 
</div>